## Documentation: http://docs.travis-ci.com/user/languages/julia/
language: julia
os:
  - linux
  - osx
julia:
  - 1.0
  - 1.3
  - nightly

notifications:
  email: false

jobs:
  allow_failures:
    - julia: nightly

coveralls: true
